@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: #0066cc;
  --text-primary: #000000; /* Black for primary text */
  --text-secondary: #6b7280; /* Gray for secondary text */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
} */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
